# Homework

Book(id, author, title, publish_year)

Reader(id, name)

Record(reader_id, book_id, taking_date, returning_date)

В табличку Record можно добавить и отдельный ID. 

А reader_id и book_id — внешние ключи, которые ссылаются на таблицы Reader и Book соответственно.

Вывести список книг

Вывести список читателей

Добавить книгу.

Добавить читателя.

Выдать книгу читателю

Принять книгу.

In [1]:
import sqlite3
import datetime
def get_timestamp(y,m,d):
    return datetime.datetime.timestamp(datetime.datetime(y,m,d))
def get_date(tmstmp):
    return datetime.datetime.fromtimestamp(tmstmp).date()
with sqlite3.connect(r'bibliot.db') as db:
    cursor = db.cursor()
    query ='''CREATE TABLE IF NOT EXISTS Book(
        id INT PRIMARY KEY NOT NULL,
        title TEXT,
        author TEXT,
        publish_year INT)'''
    cursor.execute(query)
    db.commit()

In [2]:
with sqlite3.connect(r'bibliot.db') as db:
    cursor = db.cursor()
    cursor.execute(
    '''
    CREATE TABLE IF NOT EXISTS Reader(
        id INT PRIMARY KEY NOT NULL,
        name TEXT
    )
    '''
)
    db.commit()

In [3]:
with sqlite3.connect(r'bibliot.db') as db:
    cursor = db.cursor()
    cursor.execute(
    '''
    INSERT INTO Book VALUES
    (1, 'Harry Potter and the Philosopher''s Stone', 'J. K. Rowling', 1997),
    (2, 'Методы решения задач в общем курсе физики, Механика', 'Корявов В.П.', 2007),
    (3, 'Batman: Gotham by Gaslight', 'Brian Augustyn, Mike Mignola', 1989),
    (4, 'Мёртвые души', 'Н. В. Гоголь', 1842),
    (5, 'The Running Man', 'Richard Bachman', 1982)
    '''
)
    db.commit()

In [4]:
with sqlite3.connect(r'bibliot.db') as db:
    cursor = db.cursor()   
    cursor.execute(
    '''
    INSERT INTO Reader VALUES
    (1, 'V.V. Petrovich'),
    (2, 'Alexanderr'),
    (3, 'Arkadiy Svidrigaylov'),
    (4, 'Vitalya'),
    (5, 'Noname')
    '''
)
    db.commit()

In [26]:
with sqlite3.connect(r'bibliot.db') as db:
    cursor = db.cursor()
    cursor.execute(
    '''
    CREATE TABLE IF NOT EXISTS Record(
        id INT PRIMARY KEY NOT NULL,
        reader_id INT REFERENCES Reader(id) NOT NULL,
        book_id INT REFERENCES Book(id) NOT NULL,
        taking_date TEXT,
        returning_date TEXT
    )
    '''
)
    db.commit()

In [6]:
with sqlite3.connect(r'bibliot.db') as db:
    cursor = db.cursor()
    cursor.execute(
    '''
    INSERT INTO Record VALUES
    (1, 3, 4, '1842-02-14', '1842-07-01'),
    (2, 4, 4, '1996-10-26', NULL),
    (3, 1, 2, '2006-06-13', '2006-06-14'),
    (4, 1, 1, '2006-06-14', '2006-06-15'),
    (5, 1, 3, '2006-06-15', '2006-07-20'),
    (6, 2, 5, '1985-10-11', '1987-12-25'),
    (7, 5, 3, '2001-03-15', NULL),
    (8, 5, 3, '2002-09-19', '2002-09-25')
    '''
)
    db.commit()

In [2]:
def booklist():
    with sqlite3.connect(r'bibliot.db') as db:
        cursor = db.cursor()
        for row in cursor.execute(""" SELECT title from Book """):
            print(row[0])
        db.commit()
booklist()

Harry Potter and the Philosopher's Stone
Методы решения задач в общем курсе физики, Механика
Batman: Gotham by Gaslight
Мёртвые души
The Running Man
Shrek

In [22]:
def readerlist():
     with sqlite3.connect(r'bibliot.db') as db:
        cursor = db.cursor()
        for row in cursor.execute(""" SELECT name from Reader """):
            print(row[0])
        db.commit()

In [27]:
def insertbook(book_id, book, author, date):
    try:
        with sqlite3.connect(r'bibliot.db') as db:
            cursor = db.cursor()
            cursor.execute( 'INSERT INTO Book(id, title, author, publish_year) VALUES(?,?,?,?)', (book_id, book, author, date))
            db.commit()
    except sqlite3.IntegrityError:
            print(f'Cant add {book} twice')
insertbook(12 ,'Как делать идеальную яичницу,чтобы не пригорала', 'Гордон Рамзи', 2005)
print(booklist())

Harry Potter and the Philosopher's Stone
Методы решения задач в общем курсе физики, Механика
Batman: Gotham by Gaslight
Мёртвые души
The Running Man
Shrek
Shrek
Ongliyskii
Ongliyskii
Comp_math
Bicycle
Как делать идеальную яичницу,чтобы не пригорала
None

In [25]:
def insertreader(reader_id, reader):
    try:
        with sqlite3.connect(r'bibliot.db') as db:
            cursor = db.cursor()
            cursor.execute( 'INSERT INTO Reader(id, name) VALUES(?,?)', (reader_id, reader))
            db.commit()
    except sqlite3.IntegrityError:
            print(f'Cant add {reader} twice')
insertreader(6 ,'Masha')
print(readerlist())

V.V. Petrovich
Alexanderr
Arkadiy Svidrigaylov
Vitalya
Noname
Masha
None

In [28]:
def givebook(rec_id,book_id, reader_id, taking_date):
    try:
        with sqlite3.connect(r'bibliot.db') as db:
            cursor = db.cursor()
            cursor.execute( 'INSERT INTO Record(id, book_id, reader_id, taking_date) VALUES(?, ?, ?, ?)', 
                           (rec_id, reader_id, book_id, taking_date))
            cursor.execute()
            db.commit()
    except sqlite3.IntegrityError:
        print(f'Cant give book twice')
givebook(9, 12, 6, '2021-04-27')

In [31]:
 def takebook(rec_id,book_id, reader_id, returning_date):
        try:
            with sqlite3.connect(r'bibliot.db') as db:
                cursor = db.cursor()
                cursor.execute( 'INSERT INTO Record(id, book_id, reader_id, returning_date) VALUES(?, ?, ?, ?)', 
                           (rec_id, reader_id, book_id, returning_date))
                db.commit()
        except sqlite3.IntegrityError:
            print(f'Cant take book twice')
takebook(10, 12, 6, '2021-04-28')